html{
    font-family: 'Maven Pro', Verdana , Arial, sans-serif;
    margin: auto auto auto auto;
    font-size: 16px;
}

body{
    background-color: dodgerblue;
}


nav a{
    text-decoration-line: none;
}

nav li a:link{
    color: #ffffff;
}

nav li:hover{
    background-color: royalblue;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: steelblue;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
}

nav ul li {
    padding: 2em 6em;
}

nav ul li a{
    display: block;
    float: left;
    color: #ffffff;
    text-align: center;
}

main {
    padding: 5em;
}

.active{
    background-color: royalblue;
}

.active a:hover{
    background-color: royalblue;
}

article a{
    color: #0000ff;
}

main article p{
    box-sizing: border-box;
    width: 80%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    padding: 1em;
}

main h2{
    box-sizing: border-box;
    width: auto;
    max-width: 1000px;
    margin: auto;
    padding: 0.5em;
}

body{
    margin: 0;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 0.2em;
    font-weight: bold;
}

form p{
    display: block;
    text-align: left;

}

form p:last-child{
    text-align: right;
}

label {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1em;
    box-sizing: border-box;
}

input, textarea, select {
    display: block;
    border: 1px solid #456;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: 0 .2em 0.2em;
    width: 100%;
}

.home article {
    padding: 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 65px 1fr 65px;
    align-items: center;
    column-gap: 10px;
}

article {
    padding: 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 65px 1fr 1fr;
    align-items: center;
    column-gap: 10px;
}

.home article img {
    min-width: 0px;
    max-width: 400px;
    height: auto;
    grid-column: 1;
    grid-row: 2/4;
    align-items: center;
}

.home article p {
    grid-column: 2;
    text-align: left;
}

article img {
    min-width: 0px;
    max-width: 400px;
    height: auto;
    grid-row: 2;
    align-content: center;
}

article p {
    grid-column: 2;
    text-align: left;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

article h1 {
    grid-column: 2/4;}

Button {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    background-color:#ffc477;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
}


Button:hover {
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    background-color:#fb9e25;
}
Button:active {
    position:relative;
    top:1px;
}


table {
    border-spacing: 1em;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: darkorange;
}
table tbody tr {
    height: 50px;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: dodgerblue;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-weight: bold;
    }

    nav ul li a{
        display: block;
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 2em 6em;

    }

    .home article {
        padding: 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 65px 1fr 65px;
        align-items: center;
        column-gap: 10px;
    }

    article {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 5px;
    }

    .home article img {
        min-width: 0px;
        max-width: 400px;
        height: auto;
        grid-row: 3;
    }

    .home article p {
        text-align: left;
        font-size: smaller;
    }

    article img {
        min-width: 0px;
        max-width: 300px;
        height: auto;
        grid-row: 2/4;
    }

    article p {
        grid-column: 2;
        text-align: left;
        font-size: smaller;
    }

    article h1 {
        grid-column: 2/4;
        font-size: 1em;
    }

    gallery {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    gallery img {
        max-height: 400px;
    }
}